@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 20px;
    outline: none;
}

a {
    text-decoration: none;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */
}

html {
    overflow-y: scroll;
}

html,
body {
    width: 100%;
    background: #fff3e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 390px;
}

main {
    width: 600px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
