@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 20px;
    outline: none;
}

.preload * {
    transition: none !important;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    text-indent: 20px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */
}

html {
    overflow-y: scroll;
}

html,
body {
    width: 100%;
    background: #fff3e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 390px;
}

main {
    width: 600px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.mensagem-sucesso,
.mensagem-erro {
    margin: 0 0 10px;
    text-align: center;
}

.mensagem-sucesso {
    color: #347a1f;
}

.mensagem-erro {
    color: #7a1f1f;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 8px;
    justify-items: center;
}

form label {
    width: 100%;
}

form textarea {
    width: 100%;
    resize: none;
}

form input {
    width: 100%;
}

form input[type='email'],
form input[type='password'],
form input[type='text'],
form input[type='tel'],
form textarea,
form select {
    border: none;
    border-bottom: 2px solid lightgray;
    transition: all 0.3s;
}

form input[type='email']:focus,
form input[type='password']:focus,
form input[type='text']:focus,
form input[type='tel']:focus,
form textarea:focus,
form select:focus {
    border-color: #e65100;
}

form input[type='submit'] {
    margin: 15px 0 0;
    grid-column: span 2;
    width: 50%;
    transition: all 0.3s;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    font-size: 20px;
    background: #ffe0b2;
    cursor: pointer;
}

form input[type='submit']:hover,
form input[type='submit']:focus {
    font-size: 23px;
    background: #ffcc80;
}

form input[type='submit']:active {
    position: relative;
    top: 3px;
    font-size: 23px;
    background: #e65100;
    color: white;
    box-shadow: none;
    transition: none;
}
