@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 20px;
    outline: none;
}

a {
    text-decoration: none;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */
}

html {
    overflow-y: scroll;
}

html,
body {
    width: 100%;
    background: #fff3e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 390px;
}

body > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #e65100;
}

body > header h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    margin: 5px 0;
}

body > header nav {
    margin: 0 0 5px;
}

body > header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header ul li {
    margin: 0 15px;
}

body > header ul li a {
    font-size: 30px;
    font-weight: bold;
    transition: 0.1s;
    color: white;
}

body > header ul li a:hover,
body > header ul li a:focus {
    color: #ffe0b2;
}

body > header ul li a:active {
    color: #fff3e0;
}

#user-space {
    width: 600px;
    max-width: 100%;
    margin: 5px 0;
    background: #ffcc80;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-space div {
    font-size: 22px;
    display: flex;
    margin: 6px;
    background: #fff3e0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#user-space .user-profile {
    height: 40px;
    width: 40px;
    background: #ffe0b2;
}

#user-space .user-pet-register-link {
    flex-grow: 1;
}

#user-space .user-pet-register {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 40px;
}

#user-space .user-logout {
    height: 40px;
    width: 150px;
    background: #ffe0e0;
}

main {
    width: 600px;
    max-width: 100%;
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#main-content .filtros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 8px;
}

#main-content .postagens {
    width: 100%;
}

#main-content .postagens .postagem {
    width: 100%;
    height: 170px;
}

#main-content .postagens .postagem img {
    width: 240px;
    height: 100%;
    object-fit: cover;
}
