#user-space {
    width: 600px;
    max-width: 100%;
    margin: 5px 0;
    background: #ffcc80;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-space div {
    font-size: 22px;
    display: flex;
    margin: 6px;
    background: #fff3e0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#user-space div:hover,
#user-space div:focus {
    box-shadow: inset 0 0 5px rgba(255, 204, 128, 1);
}

#user-space div:active {
    transition: none;
    box-shadow: inset 0 0 8px rgba(255, 204, 128, 1);
}

#user-space .perfil {
    height: 40px;
    width: 40px;
    background: #ffe0b2;
}

#user-space .anuncio-criar-link {
    flex-grow: 1;
}

#user-space .anuncio-criar {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 40px;
}

#user-space .logout {
    height: 40px;
    width: 150px;
    background: #ffe0e0;
}

#user-space .login-link {
    display: flex;
    width: 100%;
}

#user-space .login {
    flex-grow: 1;
    height: 40px;
}
